.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu a {
    background-color: "#ffffff";
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
}

.menu a:hover {
    background-color: black;
    color: white;
    
}